@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(115, 25, 145);
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgb(115, 25, 145) ;
    margin: 10px;
    border-radius: 100px;
}
.nav-logo img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
}
.nav-item ul{
    display: flex;
    padding-right: 65px;
    gap: 20px;
}
.nav-item ul li{
    list-style: none;
    position: relative;
    font-size: 17px;
}
.nav-item ul li a{
    text-decoration: none;
    color: aliceblue;
}
.nav-item ul li a::before{
    content: " ";
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 2px;
    bottom: -5px;
    right: 0px;
    transform: scale(0,1);
    transform-origin: 0px 0px;
    transition: 0.5s ease-out;
}
.nav-item ul li a:hover::before{
    transform: scale(1,1);
    
}

/* SECTION-1 STARTS FROM HERE */

.section-1{
    margin-top: 50px;
}
.container-1{
    margin: auto;
    margin-bottom: 30px;
    padding: 40px;
    width: 90%;
    align-items: center;
    text-align: center;
    box-shadow: 0px 5px 20px 0px rgb(59, 59, 59);
    border-radius: 20px;
}
.container-1 h2{
    color:rgb(115, 25, 145) ;
    padding: 20px;
    font-size: 25px;
}
.container-1 h3{
    color: rgb(115, 25, 145);
    font-weight: 300;
    padding: 5px;
}
button{
    background-color:rgb(115, 25, 145) ;
    color: aliceblue;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.button a{
    color: aliceblue;
    text-decoration: none;
}
button:hover{
    transform: scale(1.1);
}

/* SECTION-1 ENDS HERE */

.section-2{
    margin: 40px 0px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    justify-content: space-between;
    gap: 10px;
}
.card{
    width: 300px;
    box-shadow: 0px 5px 20px 0px rgb(59, 59, 59);
    border-radius: 20px;
}
.card img{
    width: 290px;
    height: 290px;
    object-fit: contain;
    border-radius: 20px 20px 0px 0px;
}
.card h3{
    padding: 30px 0px;
}
.footer{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    padding: 25px 0px;
    background-image: url(bg-1.svg);
}
.container-1 iframe{
    width: 100%;
}
.detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    color: rgb(115, 25, 145);
    font-size: 20px;
    gap: 100px;
}
.detail i{
    color: rgb(115, 25, 145);
}